    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Space Grotesk', sans-serif;
        text-decoration: none;
    }

    .team {
        padding-top: 4rem; /* Add padding to the top for space above 'Our Team' */
        padding-bottom: 4rem; /* Keep padding at the bottom to match the top */
        min-height: 100vh; /* Ensures the section covers at least the full viewport height */
        background: radial-gradient(#281c3e, #0f051d);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 4rem; /* Add padding to the bottom to ensure no white space */
    }

    .team-content {
        margin-top: 6rem; /* Increase top margin to lower the boxes */
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* This will make 3 columns */
        align-items: center;
        gap: 2rem;
        text-align: center;
        margin-top: 4rem;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .center h1 {
        color: #fff;
        font-size: 3rem;
        text-align: center;
    }

    .box {
        position: relative;
        padding: 16px;
        background: #1b1229;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        max-height: 450px;
        overflow: hidden;
        perspective: 1000px;
    }

    .flip-container, .front, .back {
        width: 100%;
        height: 100%;
    }

    .flipper {
        transition: 1.5s;
        transform-style: preserve-3d;
        position: relative;
    }

    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .front {
        z-index: 2;
        transform: rotateY(0deg);
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        transform: rotateY(180deg);
    }

    .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
    }

    /* Increase the size of the images */
    .team-content img {
        width: 150px; /* Adjust the width as needed */
        height: 150px; /* Adjust the height as needed */
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
    }

    .box h3, .box h5 {
        color: #fff;
        margin: 5px 0;
        text-align: center;
    }

    /* Increase the font size of the text */
    .box h3 {
        font-size: 28px; /* Adjust as needed */
        font-weight: 600;
        height: auto; /* To accommodate larger text */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .box h5 {
        font-size: 18px; /* Adjust as needed */
        font-weight: 600;
        color: #b7b4bb;
        letter-spacing: 2px;
    }

    .icons {
        margin-top: auto;
    }

    .icons i {
        display: inline-block;
        color: #fff;
        font-size: 20px;
        margin: 0 8px;
        transition: all .38s ease;
    }

    .icons i:hover {
        transform: scale(1.2);
    }

    .more-info {
        color: #fff;
        padding: 10px;
        text-align: center;
        margin-top: 3.5in;
    }

    .logo {
        /* border-left: 6px solid rgb(124, 188, 196); */
        border-width: 8px;
        border-radius: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    

    @media(max-width: 1240px) {
        .team {
            height: auto;
            padding: 90px 2%;
        }

        .center h1 {
            font-size: 3.2rem;
        }
    }
